*{
    background-color: ;
    color: rgb(0, 0, 0);
    text-decoration: dashed;
    font-style: italic;
}
a{
    color: purple !important;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
    font-size: 25px;
}
h1{
    font-size: 40px;
}
img{
    width: 20%;
    overflow: hidden;
    margin: 10px 0 20px 0;
}
ul{
    font-style: italic;
    border: 2px solid;
    margin: 10px 10px 20px 10px;
    padding: 3px 40px 30px;
    font-size: 18px ;
}