*{
    background-color: lemonchiffon;
}
* button{
    border-radius: 20px;
    background-color: brown;
    color: wheat;
    font-size: 18px;
    text-align: center;
}
img{
    width: 440px;
    border-radius: 20px;
}

a{
    position:fixed;
    bottom: 0;
    margin-bottom: 30px;
    left: 47%;
}
.divbordas{
    width: min-content;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid;
    padding: 5px 33px;
}
h3{
    margin-top: 0;
    text-align: center;
    font-size: 30px;
}

li{
    font-size: 18px;
}