body{
    background-color:lemonchiffon ;
    color: rgb(0, 0, 0);
    text-decoration: dashed;
    font-style: italic;
}


#choco{
    left: 0;
    margin-bottom: 30px;
}
h1{
    font-size: 40px;
}

img{
    width: 400px;
    overflow: hidden;
    margin: 10px 0 20px 0;
    border-radius: 20px;
}
ul{
    font-style: italic;
    margin: 10px 10px 20px 10px;
    padding: 3px 40px 30px;
    font-size: 18px ;
    text-align: left;

}
* button{
    border-radius: 30px;
    background-color: brown;
    color: wheat;
    font-size: 18px;
    align-content: center;
    width: 190px;
}


.divbordas{
    width: min-content;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid;
    padding: 5px 33px;
}

header{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    background-color: bisque;
    left: 0;
    border-radius: 10px;
}

.ancorah{
    background-color: transparent;
    padding: 10px;
    
}

main{
    margin: 6% 0% 0% 0% ;
    width: 70%;
}