body{
    background-color:lemonchiffon ;
    color: rgb(0, 0, 0);
    text-decoration: dashed;
}


#choco{
    left: 0;
    margin-bottom: 30px;
}
h1{
    font-size: 45px;
    background-color: transparent;
}

img{
    width: 400px;
    overflow: hidden;
    margin: 10px 0 20px 0;
    border-radius: 20px;
}
ul{

    margin: 10px 10px 20px 10px;
    padding: 3px 40px 30px;
    font-size: 18px ;
    text-align: left;

}

li{
    padding: 1px;
}

* button{
    border-radius: 30px;
    background-color: brown;
    color: wheat;
    font-size: 18px;
    align-content: center;
    width: 180px;
}


.divbordas{
    width: 400px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid;
    padding: 5px 33px;
    background-color: beige;
    margin: 25px 5px 5px 5px;
    
}

header{
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    background-color: lightsalmon;
    left: 0;
    border-radius: 10px;
}

.ancorah{
    background-color: transparent;
    padding: 10px;
}

main{
    margin: 6% 0% 0% 0% ;
    width: 70%;
}
.log{
    margin: 0;
    padding: 0;
    margin-top: -14px;
    width: 100px;
}
.img_bolo{
    width: 400px;
    height: 300px;
}

.titulo_receita{
    text-align: center;
    font-size: 24px;
}

.img_comida{
    width: 400px;
    height: 228px ;
}
.titulo_pag{
    margin: -15px 0px 0px 600px;
}

.titulo_bolo{
    margin: -15px 0px 0px 310px;
}